@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --clr-red: #da2e3f;
  --clr-font: #ebebeb;
  --clr-background: #1e2122;
  --clr-red2: #ae2222;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-font);
  font-family: "Space Grotesk", "Sans Serif";
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100vw;
}

.navbar ul {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li a {
  display: block;
  padding: 2vh;
  background-color: var(--clr-red2);
  margin: 0;
  text-decoration: none;
  color: var(--clr-font);
  text-align: center;
}
.navbar a:hover {
  background-color: var(--clr-red);
}
.biographie {
  text-decoration: none;
}
.biographie h3 {
  text-align: center;
}
.biographie p {
  width: 50vw;
  text-align: center;
  padding-left: 25vw;
  padding-right: 25vw;
}
.projets {
  display: flex;
  flex-wrap: wrap;
  text-align: center, justify;
  text-decoration: none;
}
.projets div {
  width: 25vw;
}
.projets img {
  width: inherit;
}
.projets p {
  width: inherit;
}
.footer {
  bottom: 0;
}
h2 {
  background-color: black;
  font-size: x-large;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100vw;
}
