@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --clr-red: #da2e3f;
  --clr-font: #ebebeb;
  --clr-background: #1e2122;
  --clr-red2: #ae2222;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-font);
  font-family: "Space Grotesk", "Sans Serif";
  margin: 0;
}

.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li a {
  display: block;
  padding: 8px;
  background-color: var(--clr-red2);
  margin: 0;
  text-decoration: none;
  color: var(--clr-font);
  text-align: center;
}
.navbar a:hover {
  background-color: var(--clr-red);
}
.biographie {
  text-decoration: none;
}
.biographie h3 {
  text-align: center;
}
.biographie p {
  width: 50vw;
  text-align: center;
  padding-left: 25vw;
  padding-right: 25vw;
}
.projets {
  display: grid;
  grid-template-areas:
    "image1 image2 image3 image4"
    "text1 text2 text3 text4"
    "text5 text6 text7 text8";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center, justify;
  text-decoration: none;
  align-items: center;
}
.projets img {
  width: 100%;
  height: auto;
}
.projet1 {
  grid-area: image1;
}
.projet1 p {
  grid-area: text1;
}
.projet2 img {
  grid-area: image2;
}
.projet2 p {
  grid-area: text2;
}
.footer {
  bottom: 0;
}
h2 {
  background-color: black;
  font-size: x-large;
  text-align: center;
  padding: 2%;
}
