@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --clr-red: #da2e3f;
  --clr-font: #ebebeb;
  --clr-background: #1e2122;
  --clr-red2: #ae2222;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-font);
  font-family: "Space Grotesk", "Sans Serif";
  margin: 0;
}

header {
  background-color: black;
  font-size: larger;
  text-align: center;
}

p {
  text-align: justify;
  text-decoration: none;
}
.Biographie {
  text-align: center, justify;
  text-decoration: none;
}
.Projets {
  text-align: center, justify;
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "content content content content"
    "footer footer footer footer";
}
