@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --clr-red: #da2e3f;
  --clr-font: #ebebeb;
  --clr-background: #1e2122;
  --clr-red2: #ae2222;
  --font-text: "Space Grotesk", "Sans Serif";
  --clr-black: black;
  --resize: 0;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-font);
  font-family: var(--font-text);
  margin: 0px;
  padding-top: 40px;
  letter-spacing: 1px;
}

h2 {
  background-color: var(--clr-black);
  font-size: x-large;
  text-align: center;
  text-transform: uppercase;
  padding-top: 2%;
  padding-bottom: 2%;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar ul {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li a {
  display: block;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  color: var(--clr-font);
  text-align: center;
  text-transform: uppercase;
}

.navbar li a:link {
  background-color: var(--clr-red2);
}
.navbar li a:visited {
  background-color: var(--clr-red2);
}
.navbar li a:hover {
  background-color: var(--clr-red);
}

.biographie {
  text-decoration: none;
}

.biographie h3 {
  text-align: center;
}

.biographie p {
  width: 50vw;
  text-align: center;
  padding-left: 25vw;
  padding-right: 25vw;
}

.projets {
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  gap: 7em;
}

.projets div {
  width: 25em;
  padding-left: 5%;
}

.projets img {
  width: 50em;
}

.projets p {
  width: inherit;
  max-width: fit-content;
  text-transform: uppercase;
  box-sizing: content-box;
  background-color: var(--clr-red);
  border-radius: 25px;
  padding: 3px;
}

.projets h4 {
  text-transform: uppercase;
}

.footer {
  bottom: 0;
}

.contact {
  border-radius: 5px;
  padding: 12px;
  overflow: hidden;
}

input[type="text"],
select,
textarea {
  width: 50%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
