@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --clr-red: #da2e3f;
  --clr-font: #ebebeb;
  --clr-background: #1e2122;
  --clr-red2: #ae2222;
  --font-text: "Space Grotesk", "Sans Serif";
  --clr-black: black;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-font);
  font-family: var(--font-text);
  margin: 0px;
  padding-top: 40px;
  letter-spacing: 1px;
}

h2 {
  background-color: var(--clr-black);
  font-size: x-large;
  text-align: center;
  text-transform: uppercase;
  padding-top: 2%;
  padding-bottom: 2%;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar ul {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li a {
  display: block;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  color: var(--clr-font);
  text-align: center;
  text-transform: uppercase;
}

.navbar li a:link {
  background-color: var(--clr-red2);
}
.navbar li a:visited {
  background-color: var(--clr-red2);
}
.navbar li a:hover {
  background-color: var(--clr-red);
}

.biographie {
  text-decoration: none;
}

.biographie h3 {
  text-align: center;
}

.biographie p {
  width: 50vw;
  text-align: center;
  padding-left: 25vw;
  padding-right: 25vw;
}

.center {
  display: flex;
  justify-content: space-around;
}

.projets {
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  gap: 7em;
}

.projets div {
  width: 25em;
}

.projets img {
  width: inherit;
}

.projets p {
  width: inherit;
}

.projets h4 {
  text-transform: uppercase;
}

.footer {
  bottom: 0;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
